<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.derek.meterreads">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/meter_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/meter_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".Ocr" />
        <activity android:name=".Manual" />
        <activity android:name=".Confirm" />
        <activity android:name=".Vis" />
        <activity android:name=".Final" />
        <activity android:name=".BaseActivity"></activity>
    </application>

</manifest>